# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Compiled Python files
*.pyc

# Dependency directories
node_modules/

# configuration
*.config
*.ini

# Ignore files starting with "temp", "config"
temp*.*
config*.*